%h2 Make A Motor
.illustration
  = image_tag "/assets/electricity/homemade-motor.png"
%p
  Materials needed: C or D cell battery, circular magnet, 2 small paperclips, 32 inches of
  magnet wire, small piece of sandpaper, and some masking tape.
%h3 Procedure
%p
  Take the magnet wire and wrap it around the battery. Slide it off the battery;
  leave a straight extension on either end that acts as an axle.
%ol
  %li Sand the insulation off the part of the wire used as the axle
  %li Unbend the paperclips so they have a straight side and an eyelet at the top
  %li Tape the paperclips to the ends of the battery with the eyelet at the top
  %li Attach the magnet to the battery as seen in the drawing
  %li Slip the axles through the eyelets
  %li Give the coil a small spin -- it should begin to spin on its own
%p
  Common problems: the insulation not thoroughly removed, paperclips not making good
  contact with the battery, the distance between the coil and the magnet
  needs to be adjusted
.illustration
  = youtube_iframe('-zqogshoxhM')
  = youtube_iframe('HVwrWcMyh8g')
  %div If you build your motor carefully, it should start easily.
