<h2>How many Molecules and Atoms</h2>

<p>
6 H<sub>2</sub>O => 6 molecules<br>
H = 6 * 2 => 12<br>
O = 6 * 1 => 6<br>
Total: 18 atoms and 6 molecules<br>
</p>

<p>
There are 3 states of matter:
<ul>
  <li>Solid</li>
  <li>Liquid</li>
  <li>Gas</li>
<ul>
</p>

<p>Some substances may exist in all three states. Water is a good example of this.
Water is a liquid; ice is a solid; steam is a gas.</p>

<p>Substances may change from one state to another by adding or subtracting
heat.</p>

<p>You need to understand the meaning of melting point, freezing point, and boiling
point.</p>

<ul>
  <li><strong>Melting Point</strong>: the temperature at which a solid changes
into a liquid.</li>
  <li><strong>Freezing Point</strong>: the temperature at which a liquid changes
into a solid.</li>
  <li><strong>Boiling Point</strong>: the temperature at which a liquid changes into a gas.
</li>
</ul>

<p>Notice that for each definition there is no actual temperature given. The
atmospheric pressure will directly affect the actual temperatures. Keep in mind
that the Earth is surrounded by an atmosphere that is about 100,000 miles thick.
This atmosphere weighs something. At sea level it put a pressure on you of 14.7
lbs/ sq. inch. That means, if you draw a 1 inch square on you, there is 14.7
pounds of pressure pushing on it.</p>

<p>We say that water boils at 212° F. This is only at sea level. As you go to a
higher elevation, the temperature to boil water goes down. It goes down about 2
degrees for every 1000 ft you go up in elevation. So in Denver, Colorado, which
is at 5,280 feet above sea level (mile high city), water boils at 202 degrees
Fahrenheit. At this altitude you has less air pressure pushing down on the
water.</p>

<p> If you had a vacuum chamber, by reducing the air pressure in it, you could get
the water to boil at room temperature.</p>

<table id="water">
  <thead>
    <tr><td colspan="2">Water</td></tr>
  </thead>
  <tbody>
    <tr><td>Freezing Point</td><td>Boiling Point</td></tr>
    <tr><td>0° C</td><td>100 °C</td></tr>
    <tr><td>32° F</td><td>212 °F</td></tr>
  </tbody>
</table>


<p>
These temperatures are for sea level. If you are above sea level they will
change.</p>

<p>There are a few substances that don't melt. They go directly from a solid to a
gas. This process is called sublimation. Dry ice (frozen carbon dioxide) is a
good example of this.</p>
