%h2 AC / DC
%p
  AC means Alternating Current. When we did the demonstration by moving the bar
  magnet in and out of the coil of wire, the compass needle moved back and forth.
  This back and forth motion is alternating current. The motion changes 60 times in
  one second for the electricity made in the United States. We say that it has 60
  Hertz (cycles per second). Electricity in different countries may use a
  different Hertz.
%p
  DC means Direct Current. This is the type of electric current that we get from a
  battery. The electric flows from the negative to the positive poles. This was
  the first type of electric that was used in houses. Today, we don't use DC
  in our houses today because it cannot be transmitted efficiently over long
  distances -- and Alternating Current can be.
