<h2>AC / DC</h2>

<p>AC means Alternating Current. When we did the demonstration by moving the bar
magnet in and out of the coil of wire, the compass needle moved back and forth.
This back and forth motion is alternating current. The motion changes 60 time in
one second for the electricity made in the United States. We say that it has 60
cycles per second.</p>

<p>DC means Direct Current. This is the type of electric current that we get from a
battery. The electric flows from the negative to the positive poles. This was
the first type of electric that was used in houses. One problem with DC current
is that it will not flow long distances. So we had power stations almost on
every city block.</p>
