<h2>Circuits</h2>

<h3>Series circuits</h3>
                        
<div class="illustration">
  <%= image_tag "/assets/electricity/series-circuit.png" %>
</div>

<p>In the series circuit, the electric current goes through the first light then
goes through the second light before returning to the battery. The problem with
this is that if one light goes out it breaks the circuit and the other light also
goes out. Older Christmas tree lights used to have this problem. Devices that
take multiple batteries (like a flashlight) use a series circuit to connect the
batteries together.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/series-battery.png" %>
</div>

<h3>Parallel Circuit</h3>

<div class="illustration">
  <%= image_tag "/assets/electricity/parallel-circuit.png" %>
</div>

<p>In a parallel circuit, the electricity splits up with some of it going to each
of the lights. Now if one light goes out, the other remains on. This is the type
of circuit that we use in wiring our homes.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/parallel-battery.png" %>
</div>

