<h2>Conductors and Insulators</h2>

<p>Once the electricity is produced, it must travel to your house. We use wires to
do this. These wires are conductors. A conductor is something that lets
electricity pass through it. Good conductors are metals. The best metal
conductor is gold but it's too expensive to use in house wiring (but is used in
high end electronics, like computer processors). Copper and aluminum are good
conductors and cheap enough to use in normal wiring of houses.</p>

<p>Insulators will not let electricity pass through it. Examples of Good insulators
include: glass, rubber, wood, and plastic to mention a few. We usually cover the
conductor with an insulator so when we pick up the conductor we don't get shocked.</p>

<p>You can try a little experiment to see what objects are conductors and what
objects are insulators.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/insulators.png" %>
</div>
                           
<p>Take a series of household objects such as a paperclip, paper, penny, dime, styrofoam cup, tennis
ball, knife, coffee cup, shoe lace, etc.; place the object between the two wires
and have the wires touch the object. If the light bulb lights up, the object is
a conductor. If it doesn't light up, it is an insulator.</p>

<p>The electricity travels on the surface of the metal wire. The electrons do not
travel through the center of the wire. As the electricity travels over the wire,
there is friction (resistance) between the electrons and the wire. Each type of
wire has a different amount of resistance. This is why some wires are better then
others.</p>

<p>If you have a wire that must travel a long distance, the amount of electricity
entering the wire is not the same amount that reaches the other end. Some of the
electricity is lost due to resistance. Just like the friction from rubbing your
hands together quickly, the lost energy is lost as produced heat.</p>

<p>To get more electricity reaching the end of our long wire, we could use a larger
diameter wire. The larger wire will carry more electricity. But this is not
practical. The wire would be too heavy and costly. By using a larger diameter
wire, we increased the surface area of the wire. By using a bundle of several
smaller strands of wire, we increase the surface area of the wire. It's kind of
like doing away with the middle of the large wire.</p>
      
<div class="illustration">
  <%= image_tag "/assets/electricity/wire-types.png" %>
</div>
