<h2>Fruit Battery</h2>
<p>You can make batteries out of a variety of fruit but citrus fruits work
the best ( because of the amount of acid in this fruit ).</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/fruit-battery.png" %>
</div>
                     
<p>You must use two different kinds of metals. Try various metals to see which
combination works the best. The metals can be nails, strips of metal, wire, or
paper fasteners. Make sure that the ends of the metal does not have any
insulation on it.</p>
