<h2>Make A Motor</h2>

<div class="illustration">
  <%= image_tag "/assets/electricity/homemade-motor.png" %>
</div>

<p>Materials needed: C or D cell, circular magnet, 2 small paperclips, 32 inches of
magnet wire, small piece of sandpaper, and some masking tape.</p>

<h3>Procedure</h3>

<p>Take the magnet wire and wrap it around the battery; Slide it off the battery;
leave a straight extension on either end that acts as an axle.</p>

<ol>
  <li>Sand the insulation off the part of the wire used as the axle.</li>
  <li>Unbend the paperclips so they have a straight side and an eyelet at the top.</li>
  <li>Tape the paperclips to the ends of the battery with the eyelet at the top.</li>
  <li>Attach the magnet to the battery as seen in the drawing.</li>
  <li>Slip the axles through the eyelets</li>
  <li>Give the coil a small spin. The coil should begin to spin on its own. You may</li>
  <li>have to trouble shoot  the motor. Common problems: insulation not thoroughly</li>
  <li>removed, paperclips not making good contact with the battery, and the distance</li>
  <li>between the coil and the magnet needs to be adjusted.</li>
</ol>

<iframe width="420" height="315" frameborder="0"
        src="http://www.youtube.com/embed/j8tf6CW4nVw" allowfullscreen></iframe>
