<h2>Switches</h2>

<div class="illustration">
  <%= image_tag "/assets/electricity/switches.png" %>
</div>
     
<div class="illustration">
  <%= image_tag "/assets/electricity/light-switch.png" %>
</div>
