<h2> Thermocouple</h2>
<p>Electricity can be made by twisting two strands of different types of wire
together and then heating the twisted area. The amount of electricity generated
depends on the properties of the two metals being combined.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/thermocouple.png" %>
</div>
                                  
<p>You can hook the ends of the wire to a set of ear phones like you did for the
penny battery or to your galvanometer. Thermocouples are often used to measure
temperatures at extreme conditions (hundreds or thousands of degress above the
boiling point of water) when traditional thermometers fail; the amount of
electricity created is proportional to the temperature.
