<h2>Wire A House</h2>

<p>A nice activity to put a lot of this information to use is to wire a shoe box
house.</p>

<div class="illustration">
  <%= image_tag "/assets/electricity/wired-house.png" %>
</div>

<p>Have students bring in a shoe box or small box of similar size. Run two wire
strips across the top of the box; use a pencil and punch two holes in the top of
the box – this is where the lights will go. Connect one of the light wires to
the wire strips on the top of the box. Connect the other light wire to a switch
that you mounted to the side if the box. Once the light are connected, connect
the battery to the wires on top of the box.</p>

<p>
(I like to use lights that you can buy at Hobby Lobby that are battery
operated. They come in a string of 10 lights. Just cut them apart before using.
Sometimes I can find similar lights at the Dollar Tree store)</p>
