%h2 Wire
%p
  Copper wire is getting expensive to use in some lab activities. Using masking
  tape and aluminum foil, you can save some money by making your own.
.illustration
  = image_tag "/assets/electricity/aluminum-wire.png"
%p
  Cut along the edge of the masking tape. The masking tape is the insulator and
  the foil is the conductor. After cutting the strips of wire, fold each strip
  long ways with the aluminum foil on the inside. If you want to connect two
  strips of wire, foil over the edge of one strip so the aluminum is facing the
  top of the wire. This end can be slipped into the other wire. Use tape to hold
  in place. Remember when connecting two wires: metal to metal.
