%h2 Storms

%p
  Storms are migratory atmospheric circulations that meteorologists call
  cyclones. There are two types of storm:
  %ol
    %li
      Extratropical: means outside the tropics (like the United States)
      = illustration 'weather_atmosphere/high-low-pressure-system.png'
    %li
      Tropical: hurricanes

%h3 Extratropical Storms

%p Thunderstorms, or Cumulonimbus Clouds, are anvil shaped.

= illustration ['weather_atmosphere/cumulonimbus-cloud.png',
                'weather_atmosphere/anvil-shaped-cumulus-panorama.jpeg'],
    link_to('image courtesy of Fir0002/Flagstaffotos and the GFDL 1.2 license',
      'http://en.wikipedia.org/wiki/File:Anvil_shaped_cumulus_panorama_edit_crop.jpg'),
    klass: 'wide'

%p
  As warm moist air goes into the cloud, the water vapor condenses into
  droplets. When this happens heat is given off. This heat rises rapidly. The
  rising air expands cooling it. The rising air diverges at the top of the cloud
  rushing out of the cloud in front and back. The stronger this divergence, the
  stronger the thunderstorm.

%h3 Tornadoes
%p
  Tornadoes always occur with thunderstorms; they are an intense column of
  rotating air. Wind speed varies between 110 and 300 mph. They're smaller the
  hurricanes but cause more damage.

%p
  Factors for formation of tornadoes:
%ul
  %li Smooth ground
  %li Unstable lapse rate
  %li Strong upper divergence

%p
  The smooth ground permits the air to rush to the thunderstorm cloud. Having
  hills will cause the air to tumble and this makes the air loose speed. The
  unstable lapse rate means that its colder up high compared to the ground.
  Remember that warm air rises. The unstable lapse rate lets it rise fast. By
  having a strong divergence at the top of the cumulonimbus cloud, the air that
  is so rapidly rising in the cloud can exit the cloud also at a rapid rate.

%p
  The U.S. has more tornadoes then any other country; this is due to its shape
  and the location of mountains. The central plains of the US is called Tornado
  Alley due to large number of tornadoes occurring there. The state with the
  fewest tornadoes is Rhode Island. This is due to its size.

%h3 Tropical Storms
%p
  Hurricanes: smaller then extratropical storms but more destructive; they form
  between 5° and 20° of latitude but will travel to higher latitude
  = illustration 'weather_atmosphere/hurricane.png', nil, klass: 'wide'
  = illustration 'weather_atmosphere/hurricane-profile.png',
                 link_to('Photocredit: Wikipedia',
                   'http://en.wikipedia.org/wiki/File:Hurricane_profile.svg'),
                 klass: 'wide'

%p
  For a hurricane to form, the water temperature must be warm -- around 83°F. The
  warm water possess a lot of energy in the form of heat. Since the water is
  already warm, it doesn't take a lot of additional heat to evaporate the water.
  When this water vapor condenses this heat is released. A strong up draft in the
  cloud forms. The clouds in a hurricane are cumulonimbus clouds.  Follow the
  arrows in the above drawing: the diverges with some of it circulating around
  all the clouds and then flowing over the water evaporating more water but some
  of the air moves to the front of the cloud cools and descends in the center of
  the hurricane called the Eye. Since the air is descending it forms a High
  pressure area. Consequently the Eye has fair weather like all High pressure
  areas do.

%p
  The hurricane needs water that is evaporating to sustain itself. If the
  hurricane moves over land, it loses the ability to evaporate water and thus
  will dissipate. There have been theories proposed to spay oil over the water
  where a hurricane is forming to prevent the evaporation of the water stopping
  the formation of the hurricane.
