= content_for :content do
  .nav
    %a.homebox.electricity{ href: '/lessons/electricity' }
      .title Electricity
    %a.homebox.matter{ href: '/lessons/matter' }
      .title Matter
      .credit Luc Viatour / www.Lucnix.be
    %a.homebox.rock_cycle{ href: '/lessons/rock_cycle' }
      .title Rock Cycle
    %a.homebox.weather_atmosphere{ href: '/lessons/weather_atmosphere' }
      .title Weather and Atmosphere
