<%= content_for :content do -%>
  <ul>
    <li>
      <a href="/lessons/electricity">Electricity</a>
      - targeted for 5th to 8th graders
    </li>
    <li>
      <a href="/lessons/matter">Matter</a>
      - targeted for 5th to 8th graders
    </li>
  </ul>
<%- end -%>
