= content_for :content do
  %ul
    %li
      %a{:href => "/lessons/electricity"} Electricity
      \- targeted for 5th to 8th graders
    %li
      %a{:href => "/lessons/matter"} Matter
      \- targeted for 5th to 8th graders
    %li
      %a{:href => "/lessons/rock_cycle"} Rock Cycle
      \- targeted for 5th to 8th graders
