%h2 Thinking Activities

%p
  Here are some classroom activities that will test your knowlwdge.

%p
  Most of these can be done as demonstrations so you don't need a lot of
  equipment. A few can be done by dividing the students into small groups of 2-4
  and giving them the materials to investigate the activity. I feel that if the
  students are in small groups it gives them the opportunity to discuss the
  activity and collaborate on formulating a solution. These activities are
  recommended for grades 5 and 6.

%ol
  %li
    Place a box fan in front of the classroom. Turn the fan on. Place a
    thermometer in front and in back of the fan.  Question 1: will the
    temperature readings on the thermometers be different or the same ? If
    different, which one will have the lower temperature ? If the temperature
    are the same, Why ?

%p
  The thermometers should read the same since nothing is cooling the air. The
  fan blades just move the air.

Question 2: If the fan does not cool the air, how does a fan cool you ?

The fan moves the air over you. Your body has moisture(sweat) on it. To
evaporate   water you must add heat to the water. The moisture on the skin
takes heat from the body and the moisture evaporates. The fan moves the
evaporated moisture away from your body so more moisture can evaporate. Since
the evaporation process is taking heat from your body, you feel cooler.
Sweating is the natural way the body has to keep you cool.

2. This activity can be done as a class demonstration or in groups of 4. Give
each group a cold can of pop. Place the can on pop on a desktop. Let the
students observe the can for 10 - 15 minutes. Here is the question: The pop
cans will get moisture on them. Where did the water come from ?

There is water vapor in the air. It is a gas. As long as the air remains warm,
the water vapor is a gas. When warm moist air comes in contact with a cold
object, the water vapor condenses (changes to a liquid). The water vapor in the
air comes in contact with the cold can. The water vapor (a gas) changes to
water (a liquid). You can  see the water vapor coming out of your mouth, in
your breath, on a cold day as you walk to school. Air conditioners and
dehumidifiers take water from the air by passing the warm moist air over cold
coils of metal tubing.



3. Fill a drinking glass with ice cubes. Add water to the glass until it is
filled completely. Ask the students to hypothesize what will happen when the
ice melts ? Ask the students to explain why they think that their hypothesis is
correct.

When the ice melts the water will not overflow the glass as many students may
have hypothesized. When water freezes to make the ice cubes, water expands. It
takes up more room then the original amount of water. As the ice cube melts
back to water, it returns to its original volume. So it takes up less room.
When all the ice melts, the glass will not be filled to the top. When the water
is freezing, it expands. This makes the ice less dense then the water. This is
why ice floats.

4. Take two cans of pop  --- One is diet pop and one is regular pop. Wrap each
can in aluminum foil. Don't tell the students that the there are two different
kinds of pop. Place the two cans of pop in a bucket of water. One will float
and one will sink. Explain that each can has the same amount of pop in it.  Ask
the students to explain why one can sank and the other floated.  After they
think about it for awhile, tell them that one can is diet. But they still must
come up with a reason why one floats and one sinks.

The regular pop is made with sugar. The diet pop is made made with a sugar
substitue. Sugar has a higher density then the sugar substitute. The higher
density of sugar makes it heavier. So, the regular pop will sink since it had a
greater density then the water it is in. The diet pop will float. You might
want to weigh the  two cans and see what their weights are.

5. Fill a graduated cylinder up to 50 ml with water. Fill a second graduated
cylinder to 50 ml with water. To the first graduated cylinder add 50 ml of
water and to the second graduated cylinder add 50 ml of rubbing alcohol. In
each case do you get 100ml of each?

When you mix 50ml of water with 50 ml of water, you get 100ml of water. If you
mix 50ml of alcohol with 50ml of alcohol, you get 100 ml of alcohol. When you
mix 50 ml of water with 50 ml of alcohol, you get about 96 ml of the mixture.
The reason is the size of molecules. The water molecule is bigger then the
alcohol molecule. When they are mixed together, the alochol molecule fits in
between the larger water molecule. It's kind of like mixing a bucket full of
large gravel with a bucket full of sand. The sand fits in the spaces between
the gravel. You don't end up with two completely filled buckets of sand and
gravel.




6. Take an empty 2 or 3 pound coffee can; take a large zip lock baggie, open it
and place it inside the coffee can; fold the outer edge of the baggie over the
edge of the can; stretch a wide rubber band over the edge of the coffee can to
hold the baggie in place. Have a student reach in and try to pull the baggie
out of the can. It is hard to do so if not impossible. Question: why ?

The reason that it is so hard to pull the baggie out of the coffee can is air
pressure. The Atmosphere is approximately 100,000 miles thick. We live at the
bottom of this ocean of air. Air has weight. This puts pressure on us. At sea
level the air pressure is 14.7 lbs per square inch. As you go higher in
elevation the air pressure decreases. But at sea level on every square inch of
an object there is 14.7 pounds of air pressure. That includes you. There is so
much air pressure pushing in on the baggie that it is difficult to pull it out
of the can.

7. Take an empty 2 liter pop bottle and put about 1 inch of hot water in it.
Put you hand over the opening and shake vigoressly for a second or two. Take
your hand off and screw the cap on tight. Place the bottle on a table and
watch. It may take a few minutes, but the bottle will begin to be crushed. Have
the students explain why the bottle got crushed.

When you put the hot water into the bottle, the air inside the bottle heats up
and expands. The expanding air pushes some of air out of the bottle. When the
cap is screwed on, no air can get in or get out of the bottle. As the bottle
cools, the air inside the bottle cools and begins to shrink. Atmospheric
pressure on the outside of the bottle is 14.7 lbs/sq in (this is at sea level).
On the inside of the bottle, it is much less. Since the outside pressure is so
great, the bottle is being pushed inward (crushed) by the air pressure. This
not only works for 2 liter pop bottles but also for 55 gallon drums.

8. Take a juice glass and fill it with water to the brim. Place a playing card
(or something similar) on top of the glass.  Hold the card in place and turn
the glass upside down. Hold th glass and take your hand off the card. The card
stays in place and the water does not leak out of the glass. Have the students
explain why this is.

The air pressure is 14.7 lbs/sq in at sea level. If the opening of the glass
is 3 inches in diameter, the surface area is about 7 sq inches(3.14 x 1.5 x 1.5
=7.065). That means there is just about 103 (7 x 14.7 = 102.9)pounds of
pressure pushing on the card. That is enough pressure to hold the card in
place.


9. Take some green leaves from a tree and cut them up and place in a beaker.
Pour enough rubbing alcohol into the beaker to cover the leaves. Stir the
mixture for a couple of minutes and let set for about 20 minutes (until the
alcohol turns a dark green). Pour the green liquid into two test tubes. Wrap
one test tube with aluminum foil. Cover it completely. Place both of the test
tubes on the window sill. Observe them for about 4-5 days. The test tube not
wrapped gradually changes color from the dark green to a yellowish green. Two
questions: 1. why did it change colors? ; 2. what color will the liquid be in
the wrapped test tube ?

The rubbing alcohol was originally clear. It changed green because it extracted
some of the chlorophyll from the leaves. In the process of photosynthesis,the
chlorophyll uses sunlight to make food for the tree. In a growing tree, the
chlorophyll is replenished by the tree. But in the test tube, as the
chlorophyll is used up, there is nothing to replenish the chlorophyll.
Consequently, the chlorophyll begins to die and it changes color. When the
wrapped test tube of chlorophyll is unwrapped, it is still dark green. It
maintains its color since there was no sunlight to activate it.

10. What colors are in leaves.

We all know that leaves turn colors in the Fall. The colors that you see in the
Fall leaves is always there. The bright colors are covered up by the green
chlorophyll. Extract some chlorophyll as described in the previous activity.
Take a white coffee filter and cut into strips that are about 1 inch wideand
2-3 inches long. Take one of the strips and hang it up longways. Use an eye
dropper and pick up some of the chlorophyll liquid. Place 1 or 2 drops of the
liquid about 3/4 of an inch from the top of the hanging strip. Gravity will
cause the liquid to flow downward. Each color is made up of different density
molecules. Since the molecules have different densities, they will flow
different distances. The least dense molecules will travel the farthest. This
will separate out the colors. The colors that you see are the ones that the
leaves will turn to in the Fall. Let the strips hang overnight before taking
down and looking at the colors.

