%h2 Humidity

%p The amount of water vapor in the air is referred to as its humidity.

%p
  The direct measurement of the water vapor in a certain volume of air is called the absolute humidity.

%p
  The capacity of air to hold water vapor changes with its temperature . Warm air can hold more water vapor then cold air. The amount of water vapor that a given amount of air can hold at any particular temperature is called its saturation value.

%p
  The humidity of air is often expressed by comparing its absolute humidity to its saturation value. This method of stating the moisture content of the air compared to the amount which could be contained at a given temperature is called Relative Humidity. To measure Relative Humidity we use  a Psychrometer or hair hygrometer.

%h3 Condensation

%p Condensation is when water vapor changes back to a liquid or solid.

%p Dew Point: the temperature at which a given quantity of air reaches 100%  relative humidity.

%p
  Dew: the ground temperature falls below the dew point and droplets of water condenses on grass, leaves, etc. If the dew point falls below the freezing temperature of water, water vapor will condense directly into ice in the form of Frost.
