%h2 Pressure

%p
  Since the Earth is surrounded by an atmosphere that is about 100,000 miles thick, it exerts a pressure on the ground and the objects on the ground. For each square inch of surface near sea level, air pressure exerts a force of 14.7 lbs. As you rise higher in the atmosphere the air pressure decreases. 

%p
  We say that water boils at  212°F. But this is only at sea level. As you go higher in the atmosphere water boils at a lower temperature. Denver, Colorado is called the mile high city because it is 5,280 feet above sea level (exactly 1 mile). In Denver, water boils at 202°F.

%p
  An instrument which measures air pressure is called a Barometer.

.illustration
  = image_tag "/assets/weather_atmosphere/mercury-barometer.png"
            
%p
  As the air pushes down on the mercury, the mercury rises in the glass tube. You could use water rather then mercury but the tube would be much longer. (water 34 ft; mercury 3ft)  

%h3 Activity

%p
  Take an empty 2 liter pop bottle and put about 1 inch of hot water in it. Put you hand over the opening and shake vigoressly for a second or two. Take your hand off and screw the cap on tight. Place the bottle on a table and watch. It may take a few minutes, but the bottle will begin to be crushed. Have the students explain why the bottle got crushed.

%p
  When you put the hot water into the bottle, the air inside the bottle heats up and expands. The expanding air pushes some of air out of the bottle. When the cap is screwed on, no air can get in or get out of the bottle. As the bottle cools, the air inside the bottle cools and begins to shrink. Atmospheric pressure on the outside of the bottle is 14.7 lbs/sq in (this is at sea level). On the inside of the bottle, it is much less. Since the outside pressure is so great, the bottle is being pushed inward (crushed) by the air pressure. This not only works for 2 liter pop bottles but also for 55 gallon drums.

%h4 Aneroid Barometer

.illustration
  = image_tag "/assets/weather_atmosphere/aneroid-barometer.png"

%p
  As the air pressure changes, the air inside of the jar tries to get out or the outside air pushes to get in the jar. This causes the straw to move up or down. If the straw moves up, this tell you that a High pressure system is here. If the straw moves down, a Low pressure system is here. A High tells you fair weather is coming; a Low tells you poor weather (cloudy, rainy --snow if it’s too cold) is coming.
