%h2 Solar Energy

%p Almost all of the earth’s heat comes to us from the sun. This energy is
called incoming solar radiation or insolation.

%p Of the insolation reaching the earth from the sun, only between 15% & 20% is
captured by the atmosphere. The atmosphere and the earth’s surface reflect 40%
of the insolation back into space. The remaining 60% is absorbed. The rocks,
soil, and the water retain most of this energy. This energy is the re-radiated
back into the atmosphere. This is what heats up the atmosphere. The atmosphere
actually heats up from the bottom up. This is why when you are on the top of a
mountain, even though you are closer to the Sun, the temperature is cold.

%p Two gases -- water vapor and carbon dioxide play the most important role in
this function of keeping the earth warm.

%h3 Temperature

%p Temperature does not measure the amount of heat energy the substance has. It
is only a measure of the hotness or coldness of the substance. When something
is hot its particles are moving more rapidly then when it is cool.

%p Temperature is measured in degrees

%p Fahrenheit degrees : used in weather forecasting

.illustration = image_tag "/assets/weather_atmosphere/freezing-point.png"

%p In the troposphere the atmosphere warms up from the ground upward. The
higher up that you go the colder that it gets. The rate at which the
temperature decreases vertically in the atmosphere is called the Normal Lapse
Rate

%p If the atmosphere gets colder the higher you go,it is said to be Unstable;
if it gets warmer it is said to be Stable

%h3 How  Heat Travel

%p Radiation: %ul %li Heat traveling in waves coming from the Sun.  %li Same
effect as heat coming from a fireplace.

%p Conduction: %ul %li Heat traveling from molecule to molecule. This is why
the handle of a pot on the stove get hot even though it is not touching the
fire.

%p Convection: %ul %li warm air rising ( this is due to the air expanding and
becoming less dense then the surrounding air) and cold air sinking (becoming
more more dense).

%p The atmosphere that  is not in direct contact with the surface of the  earth
becomes heated only slightly by conduction. Instead, convection currents are
established that circulate through the atmosphere.

%p Convection is a major way the atmosphere is heated -- especially in the
Tropics.

%p Before we discuss the convection currents for transferring heat in the
atmosphere, we must understand how a cloud is made. Adiabatic refers to
temperature change by expansion or compression of air in the atmosphere.

.illustration = image_tag "/assets/weather_atmosphere/adiabatic-cooling.png"

   
%p This type of cooling occurs when air rises or is pushed upward from the
earth’s surface. As the air rises, it expands. This is due to the atmospheric
pressure decreasing with height. The expanding of the air causes the air to
cool.

%p If the air is moist and the air is cooled sufficiently (below the
dew-point), a cloud is formed. The dew point is the temperature at which the
air becomes saturated. The warmer the air the more water vapor it can hold. So
as the air rises, the temperature declines causing the air to become saturated
(it can hold no more water vapor). The water vapor goes from a gas to droplets.
A cloud is formed. It's like seeing your breath on a cold winter day.

%p The Hadley Cell shows us the atmospheric circulation in the tropics. As the
Sun moves north or south of the equator, the Hadley Cell follows. If you look
at the drawing below, keep in mind that it migrates north and south.

%h4 Hadley Cell

.illustration = image_tag "/assets/weather_atmosphere/hadley-cell.png"

%h3 ICZ : Intertropical Convergence Zone

%p Air rising at 10° latitude is warm &amp; moist ; as it rises it cools
(adiabaticly); clouds will form and it will rain: at this latitude is where we
find the rain forest; air coming out of the top of the clouds reaches the top
of the troposphere, it splits apart (diverges) ; some of it goes to the 30°
latitude and the rest goes to the equator; at the equator the air cools
converges (comes together) and descends; as it descends it is compressed and
warms (this air is dry); the air going toward 30° latitude is cooled and sinks;
as it sinks, it is compressed and warmed; when it strikes the Earth's surface,
it diverges; the air going back toward the tropics is called the Trade Winds;
air moving vertically is not a wind; sailing ships would get stuck at sea at
the 30° latitude.

%p 10° latitude is called the Doldrums %p 30° latitude is called the Horse
Latitudes. At this latitude we find deserts from the hot dry air that is
descending onto the surface of the Earth.  %p When the rises , it produces what
is called a low pressure (L). Lows produce clouds and rain. When the air is
falling, it produces what is called a high pressure (H). High pressure  areas
have fair weather -- little or no clouds.

.illustration = image_tag
"/assets/weather_atmosphere/divergence-convergence.png"

%p In a High (H) the air flows away from the High and turns Clockwise. In a Low
(L) the air flows toward the Low and turns Counter Clockwise.
                 
%p The sun migrates from 23 1/2° N to 23 1/2°S latitudes.

%p The whole system follows the moving sun.

%p Between 23 1/2°N &amp; 23 1/2°S the earth receives more radiant energy than
in any other region. The earth’s atmosphere is not heated uniformly. This is
due to the Earth being a sphere and the tilt of the earth.

.illustration = image_tag "/assets/weather_atmosphere/suns-rays.png"

   
%p The Earth's surface receives the maximum solar radiation when the sun-rays
are perpendicular to the surface of the Earth. The closer your area is to 90
degrees the more radiation you receive. This is what happens in the summer
time. In the winter time, the Sun's rays are at a low angle and rays are spread
out giving us minimum amount of radiation.


%p If the earth did not rotate all wind would be north-south. But because the
earth does rotate, all objects moving over the earth’s surface tend to veer off
to the right(clockwise) in the northern hemisphere and to the
left(counterclockwise). This is called the Coriolis Effect.
