%h2 Special Winds

%p Wind: air in motion; air moving horizontally

%p Anemometer: device to measure wind speed

%h4 Coastal Winds

%p Land heats up faster then water and land cools faster then water

.illustration.wide
  =image_tag "/assets/weather_atmosphere/special-winds.png"

%p
  Cities located near large bodies of water will feel the effect of Sea and
  Land Breezes. During the day these cities get a nice breeze (Sea Breeze) coming
  off the water cooling the city. This is due to the air rising (L) over the warm
  land. At night the land cools much faster then the water. The air over the
  water now receives heat from the water and it begins to rise (L). The wind
  reverses. The wind now comes from the land (Land Breeze).

%p
  Cities by large bodies of water are said to have a maritime climate. The
  water retains heat for a longer period of time then the land does (this is due
  to the ability of the water to circulate  the heat deeper into the water). This
  gives the city a milder climate since the water is giving off heat as winter
  sets in and it keeps the city cooler in the summer with the breeze off the
  water. If the city is located at a high latitude, the winters may get cold
  enough to freeze the water. When the water freezes, the city no longer has a
  maritime climate. Maritime climates do not have the extremes in temperature.
  The temperature range is small.

%h4 Mountain Winds

.illustration.wide
  =image_tag "/assets/weather_atmosphere/mountain-winds.png"

%p
  The United States is found in the westerly wind belt. That means the winds
  generally blow from west to east (you name the wind from the direction it
  comes). In the western part of the United States, the winds comes off the
  Pacific Ocean. Since it comes from over the water, it is moist. When it comes
  onto land it is force to rise over mountains. As it rises, it cools, clouds
  form, and it rains. The western side of the mountain (windward side) is very
  wet. The clouds take the moisture out of the air. As the air descends, it is
  dry and begins to warm (adiabatically). The land on the eastern side (leeward
  side) is dried out from this hot dry wind. Deserts are formed.

%p
  In the Rocky Mountains hot dry winds raise the air temperature enough to
  melt the snow  and even cause floods. These winds are called Chinook. The same
  kind of wind is found in the mountains of southern California and they are
  called Santa Anna Wind. These winds sometimes occur at a bad time when forest
  fires happen. With this hot dry wind blowing on the forest fire, it makes the
  fire burn faster.

%h4 Monsoon

.illustration.wide
  =image_tag "/assets/weather_atmosphere/monsoon-winds.png"

%p
  Most people associate lots of rain with a monsoon. But the name monsoon
  means seasonal wind. It is actually a wind reversal. The wind is reversed
  because you are going from a High to a Low pressure system. The winds go from
  Clockwise to counter clockwise. You might ask how is this possible on a
  seasonal bases. Go back to the Hadley Cell. Remember that the Hadley Cell
  migrates north or south of the equator by following the movement of the Sun.
  Consider the Sun being over the equator. The High pressure will be over the
  land. When the Sun moves toward the High, the High will also move. If the Low
  moves far enough toward the High, it will replace  the High giving a wind
  reversal. You find this happening in India and southeast Asia.
