%h2 Uses of this Information

%p
  A lot of information has been presented here. Let's look at how we use this
  information to predict and understand weather. 

%p
  Understanding Highs and Lows can give you a lot of information about weather.
.illustration
  =image_tag "/assets/weather_atmosphere/highs-lows.png"

%p
  Take a look at the arrows. They indicate the air moving away from the High or
  the air moving toward the Low. Air moving horizontally is wind. 

.illustration
  =image_tag "/assets/weather_atmosphere/low_pressure_city.png"

.description
  As the low approaches the city, the wind comes into the city from the
  northeast. Once the low has passed through the city, the wind will be coming
  into the city from the southwest.

%p
  When air hangs over a land mass or body of water for a period of time, it
  takes on the characteristics of that area. So if the wind is coming from the
  SW, and its been resting over a desert, the wind coming to your area will be
  warm and dry. The temperature in your city may rise and the probability of
  rain is slim.          

%p
  Watch your barometer. If the air pressure is falling, a low pressure system
  is moving into your area. Generally, low pressure systems bring poor weather --
  cloudy and the possibility of rain. The air is rising. Look at the leaves
  of trees. When you have a Low, the air is rising, you can see the underside
  of the leaves. When you see the leaves flipping up, be prepared for poor
  weather.

%p
  If you look at a weather map, you will see lines going around the Highs or
  Lows that close upon themself. It looks a little like a bullseye.

.illustration= image_tag "/assets/weather_atmosphere/bullseye.png"
.description
  Lines close together indicate a steep slope (gradient).
  Lines far apart indicate a gentle slope (gradient).

%p
  Air traveling down a steep slope (called a high pressure gradient) will travel
  fast. This means that you will have a high speed wind.

%p
  Air traveling down a gentle slope (called a low pressure gradient) will travel
  slow. This means that you will have a gentle wind or breeze.

%p
  You are now able to determine the direction of the wind, the characteristics of
  the wind, and now the speed of the wind.

%h3 Fronts
%p
  Air resting over an area takes on the charateristics of that area. This air is
  now called an air mass. When air masses of different characteristics meet or
  collide, this is what is known as a front. Strong fronts can bring violent
  storms.
.illustration= image_tag "/assets/weather_atmosphere/fronts.png"
