= content_for :content do
  .nav.span9.offset1
    %a.homebox.electricity{ href: '/lessons/electricity' }
      .title Electricity
    %a.homebox.matter{ href: '/lessons/matter' }
      .title Matter
      .credit Luc Viatour / www.Lucnix.be
    %a.homebox.rock_cycle{ href: '/lessons/rock_cycle' }
      .title Rock Cycle
    %a.homebox.weather_atmosphere{ href: '/lessons/weather_atmosphere' }
      .title Weather and Atmosphere
    %a.homebox.igneous_rock{ href: '/lessons/igneous_rock' }
      .title Igneous Rock
    %a.homebox.metamorphic_rock{ href: '/lessons/metamorphic_rock' }
      .title Metamorphic Rock
