
.nav .homebox {
  width: 350px;
  height: 350px;
  display: inline-block;
  float: left;
  color: #eee;
  margin-top: 10px;
  margin-right: 10px;

  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  .title {
    font-size: 26px;
    padding: 10px 0 0 10px;

  }

  .credit {
    color: #aaa;
    float: right;
    padding: 280px 5px 0 0;
    font-size: 10px;
  }

  &.electricity {
    background-image: url(image_path('home/lightning.png'));
  }

  &.matter {
    background-image: url(image_path('home/plasma.png'));
  }

  &.rock_cycle {
    background-image: url(image_path('home/volcano.png'));
  }

  &.weather_atmosphere {
    background-image: url(image_path('home/clouds.png'));
  }

  &.igneous_rock {
    background-image: url(image_path('home/igneous_rock.jpg'));
  }

  &.metamorphic_rock {
    background-image: url(image_path('home/gneiss.jpg'));
  }
}
