
.content {
  font-size: 16px;
}
.content .section {
  display: none;
}
.content .section.selected {
  display: block;
}
.content .illustration {
  text-align: center;
}
.content .illustration div {
  margin: 20px auto;
}
.content .illustration img,
.content img.illustration {
  max-width: 400px;
}
.content .illustration .description {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.content .illustration.wide img,
.content .illustration img.wide,
.content .illustration.wide {
  max-width: 600px;
}
.content .illustration img.medium {
  max-width: 300px;
}
.content ol {
  padding: 10px;
  margin: 10px;
}
.content li {
  margin-bottom: 20px;
}
.content li span {
  display: block;
  clear: both;
}
#section-picker {
  list-style-type: none;
}
#section-picker li:last-child {
  padding-top: 20px;
}
#authors li span {
  display: inline-block;
  position: absolute;
}
#authors li {
  position: relative;
  height: 278px;
}
.author-image {
  width: 200px;
}
.author-bio {
  left: 200px;
  width: 450px;
  padding-left: 10px;
}
body #disqus_thread {
  display: block;
}
#dsq-global-toolbar, #dsq-subscribe {
  display: none;
}
