.element-example {
  font-size: 24px;
  margin-left: 50px;
}
.element-example sup,sub {
  font-size: 12px;
}
.element-example span {
  font-size: 14px;j
}
#valence {
  width: 400px;
  height: 120px;
}
#valence div,span {
  float: left;
  margin-left: 100px;
}
#cross-multiply div {
  height: 50px;
}
#cross-multiply .cross {
  margin-left: 85px;
}
#cross-multiply div:last-child {
  margin-left: 13px;
}
#water {
  width: 400px;
  margin: 0 auto;
}
#water thead {
  font-weight: bold;
}
