<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Free web templates by http://www.templatesdock.com; released for free under a Creative Commons Attribution 3.0 License -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />
  <meta name="description" content="[HERE PASTE YOUR DESCRIPTION]" />
  <meta name="author" content="Template:TemplatesDock [www.templatesdock.com]; e-mail:hello@templatesdock.com" />
  <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/main.css" />
  <link rel="stylesheet" media="screen,projection" type="text/css" href="/assets/skin.css" />
  <style type="text/css">
  <!--
  /* body { font-family: Arial; font-size: 22.2px } */
  .pos { position: absolute; z-index: 0; left: 0px; top: 0px }
  -->
  </style>
  <title>openscience</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="main">

  <!-- HEADER -->
  <div id="header" class="box">

    <h1 id="logo">open<span>science</span></h1>

    <!-- NAVIGATION -->
    <ul id="nav">
      <li class="current"><a href="#">Homepage</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Discussion</a></li>
      <li><a href="#">Authors</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    
  </div> <!-- /header -->

  <div id="section" class="box">
    <div id="content">
      <%= yield -%>
    </div>
  </div>
</div>
  
<!-- FOOTER -->
<div id="footer">

  <div class="main box">

    <!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->
    <p class="f-right t-right"><a href="http://www.templatesdock.com/">Free web templates</a> by TemplatesDock<br />Tip: <a href="http://www.intedoor.cz">koupelnovy nabytek</a></p>
    <!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->

  </div> <!-- /main -->

</div> <!-- /footer -->

<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>
